<h1>Welcome to <%= @user.username %>'s profile</h1>
<%= image_tag @user.picture if @user.picture.attached? %>
Description: 
<p><%= @user.email %></p>
<% if current_user.id == @user.id or current_user.has_role? :admin %>
    <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
<% end %>