<div class="hero-image">
    <h1>Welcome to Balance Games</h1>
</div>
<% @games.each do |game| %>
    <div>
        <h1><%=link_to game.title, game_path(game.id) %></h1>
        <div class="game-pic">
            <%= image_tag game.picture if game.picture.attached? %>
        </div>
    </div>
<% end %>   

<%= link_to "Submit Your Games Here!", new_game_path %>