<h1><%= @user.username %>'s Games</h1>
<% @games.each do |game| %>
    <div>
        <h1><%=link_to game.title, game_path(game.id) %></h1>
        <div >
            <%= image_tag game.picture, class: "game-pic" if game.picture.attached? %>
            <% if current_user.id == @user.id %>
                <%= link_to "Download #{game.title}", rails_blob_path(game.game_folder, disposition: 'attachment') %>
            <% end %>
        </div>
    </div>
<% end %>